.typeWidget {
float:left;
min-width: 100px;

min-height: 40px;
border-radius: 25px;
  background: #93e9be;
margin:5px;
display: inline-block;

vertical-align: middle;
padding:10px;

 display:table;
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */

}

