#svgContainer { 
	z-index: -10;
	position:absolute;
	background-color:silver;
	opacity: 0.5;
}

.inputVariableWidget {
float:left;
min-width: 100px;

min-height: 40px;
border-radius: 25px;
  background: #ffb84d;
margin:5px;
display: inline-block;

vertical-align: middle;
padding:10px;

 display:table;
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */

}

.outputVariableWidget {
float:left;
min-width: 100px;

min-height: 40px;
border-radius: 25px;
  background: #b38600;
margin:5px;
display: inline-block;

vertical-align: middle;
padding:10px;

 display:table;
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */

}

.typeWidget {
float:left;
min-width: 100px;

min-height: 40px;
border-radius: 25px;
  background: #93e9be;
margin:5px;
display: inline-block;

vertical-align: middle;
padding:10px;

 display:table;
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */

}

.agentWidget {
float:left;


min-height: 40px;
border-radius: 25px;
  background: #F7D2B1;
margin:5px;
display: inline-block;

vertical-align: middle;
padding:10px;

 display:table;
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */

}

.planWidget {

  background: lightgray;
padding-left:5px;


}

.objectDetails {
	 background: lightgray;
	 
	
	}

.infoElement {

  background: black;
    color: white;
padding-left:5px;
margin:10px;

}

.infoElementBox {
	 background: black;
    color: white;
	 margin:10px;
	  min-height: 180px;
	   min-width: 400px;
	   padding:10px;
}

.executionTraceWidget {

  background: lightgreen;
padding:5px;
margin-top:10px;
margin-bottom:10px;

}

