<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#" onclick="loadDoc('/home')" >Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
 
        <li class="nav-item">
          <!--<a class="nav-link" href="/settings">Settings</a>-->
        </li>
      </ul>
    </div>
  </div>
</nav>
<div style="padding-top:100px;" class="container" id="firstpage-content">
<h2>Components Library</h2>

<div  class="row">
 <div class="col-md-6" >
 <p>This section currently list plan components which are subclasses of sao:AccountableAction and sao:AccountableResult</p>
 </div>
 <div class="col-md-6" >
<!--  
<form method="POST" enctype="multipart/form-data" id="uploadForm" action="/upload">
  <strong>Add Components</strong>
 <div class="custom-file">

  <input type="file" class="custom-file-input" name="file" id="customFile">
  <label class="custom-file-label" for="customFile">Choose file</label>
 </div>
 <br>
 <br>
			<button class="btn btn-primary pull-right" id="uploadButton"  >Upload</button>	
		</form>-->
	
</div>
</div>
<hr>
<div  class="row">

 <div class="col-md-6" >
  <h4>Steps</h4>

<div class="overflow-auto componentPane" id="contentSteps">
<div id="stepsMessage"></div>
  <div class="loader" id="loaderSteps" ></div>
<ul id="stepsUL"></ul>
</div>
</div> 

<div class="col-md-6">
<h4>Variables</h4>
<div class="overflow-auto componentPane" id="contentVariables">
<div id="variablesMessage"></div>
  <div class="loader" id="loaderVariables" ></div>
<ul id="variablesUL"></ul>
</div>

	    				 
</div> 
 </div>
 </div>
 
 
 

<script id="script">
$("#uploadButton").click(function() {
	 console.log("trying to submit");
	 $("#uploadForm").submit(function(e) {
		
		    e.preventDefault(); // avoid to execute the actual submit of the form.

		    let form = $(this);
		    let url = form.attr('action');
		    console.log("sending");
		    
		    let data = new FormData();
		   
		    
		    data.append('file', jQuery('#customFile')[0].files[0]);
		    
		    $.ajax({
		           type: "POST",
		           
		           url: url,
		           data: data,
		           cache: false,
		           contentType: false,
		           processData: false,
		           method: 'POST',
		           type: 'POST',
		           success: function(data)
		           {
		              console.log(data); 
		              document.getElementById('customFile').value= null;
		              getStepComponents ('stepsUL', 'stepsMessage');
		              getVariableComponents ('variablesUL', 'variablesMessage');
		           }
		         });


		});
	});



 

 
 $(".custom-file-input").on("change", function() {
	  let fileName = $(this).val().split("\\").pop();
	  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
	});

 //populate the step components view

  getVariableComponents ('variablesUL', 'variablesMessage');
  getStepComponents ('stepsUL', 'stepsMessage');
 
 </script>