<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Accountability Framework</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   
  <meta name="viewport" content="width=device-width, initial-scale=1">

 <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
   <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!-- dropzone CSS -->
    <link rel="stylesheet" href="/css/dropzone.css">

<!-- sidebar CSS -->
<link rel="stylesheet" href="/css/sidebar.css">

<!-- Font Awesome JS -->
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
<link rel="stylesheet" href="./css/componentsLibrary.css">
<link rel="stylesheet" href="./css/loader.css">
  <link rel="stylesheet" href="/css/main.css"> 
  
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js"></script>

 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css">
  

 <script src="./js/json-ld_context.js"></script>
 <script src="./js/provenanceCollector.js"></script>
  <script src="./js/index.js"></script>
<script>
let elemntIDArray = [];

function getPlanComponets (token) {
	
	let planComponents = fetch("/getPlanStructureForHumanForm?token="+token);
	planComponents.then(
    			(data) => {
    				
    				return data.json();
    			}).then(planComponentsJSONLD => {
    			
    			//console.log(planComponentsJSONLD);
    			
    			parsePlanStructureJsonLD (planComponentsJSONLD);
    			
    			}
	    		).catch(
	    		        // Log the rejection reason
	    			       (reason) => {
	    			    	 
	    			            console.log('Handle rejected promise getPlanComponets ('+reason+') here.');
	    			           
	    			        });
	
}

function parsePlanStructureJsonLD (graphArray) {
	
	console.log(graphArray.length);
	for (let i=0;i<graphArray.length; i++) {
		
		let element = graphArray[i];
		console.log( graphArray[i]);
		if (element['@type']!=null) {
			
			
			
			if (checkTypeInJsonLD (element['@type'],context.Step)) {
				console.log("found element with @type STEP");
				//ASSUMPTION THERE IS ALWAYS LABEL (WE ALWAYS FORCE DEFAULT LABEL) AND THERE IS ONLY ONE
				let label = "default value";
				
				if (element[context.label][0]['@value']!=null) {
					label = element[context.label][0]['@value'];
					console.log("saved label: "+ label);
				} 
				
				
				createStepFormInput (element['@id'], element['@type'], label)
			}			
		} 	
	}
}


function createStepFormInput (id, types, label) {
	let html = "";
	//use this to keep track of which input belongs to which plan element as we cannot use iri as part of element id - JQUERY complaining
	elemntIDArray.push(id);
	let index = elemntIDArray.length - 1;
	html=html+"<h3>"+label+"</h3>"
	html=html+"<p>"+types.toString().replace(',','<br>')+"</p>"
	html = html + '<label>Select time when activity ended</label>'
	html = html + '<div class="form-group"><div class=" input-group input-group-lg date" id="time-end-group-'+index+'" data-target-input="nearest"><input type="text" id="time-end-input-'+index+'" class="form-control datetimepicker-input" data-target="#time-end-group-'+index+'"> <div class="input-group-append" data-target="#time-end-input-'+index+'" data-toggle="datetimepicker"> <div class="input-group-text"><i class="fa fa-calendar"></i></div></div></div>';
	
	//add agent field
	html = html + '<br><br><label>Who performed the task?</label>'
	html = html + '<div class="form-group"><div class="input-group input-group-lg  " id="agent-group-'+index+'"><input type="text" id="agent-input-'+index+'" class="form-control " > <div class="input-group-append" data-target="#agent-input-'+index+'" > <div class="input-group-text"><i class="fas fa-user"></i></div></div></div>';
	
	
	html = html + "<hr>";
	
	let formhtml = document.getElementById("form").innerHTML;
	
	document.getElementById("form").innerHTML = formhtml + html;
	
	$('#time-end-group-'+index).datetimepicker();
}



</script>
<body>
 <div class="container">
<script>getPlanComponets (findGetParameter('token'));
</script>

<h2>Please complete the requested information below</h2> <br><br>
<form id="form" action="/uploadHumanTaskProvenanceTrace">
</form>
<button id="submitButton">Submit</button>
<script>
$("#uploadButton").click(function() {
	 console.log("trying to submit");
	 $("#form").submit(function(e) {
		
		    e.preventDefault(); // avoid to execute the actual submit of the form.

		    let form = $(this);
		    let url = form.attr('action');
		    console.log("sending");
		    
		    let xhttp = new XMLHttpRequest();
			  xhttp.onreadystatechange = function() {
			    if (this.readyState == 4 && this.status == 200) {
			    	console.log("data sent to the server");
			    }
			  };
			  xhttp.open("POST", url  , true);
			  xhttp.setRequestHeader("Content-type", "application/ld+json");
			 let payload = generateJsonLDpayload (context,prepareHumanTaskProvenanceTraceGraph());
			  console.log(payload);
			  xhttp.send(payload);
		});
	});

</script>


</div>
</body>
</html>