<div th:fragment="systems-details" xmlns:th="http://www.thymeleaf.org" th:remove="tag">
    <!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#" onclick="loadDoc('/home')" >Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
 
        <li class="nav-item">
          <a class="nav-link" href="/settings">Settings</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

    <div style="padding-top:150px;" class="container" id="firstpage-content">
 
   <h3> System Details </h3>
 
   <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" >Plan IRI</span>
  </div>
  <input type="text" readonly class="form-control" id="systemIRI" th:value="*{systemDetails.getIri()}" >
 
</div>
  
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" >Label</span>
  </div>
  <input type="text" readonly class="form-control" id="plan_label" th:value="*{systemDetails.getLabel()}">
</div>


   <div class="input-group">
   <div class="input-group-prepend">
    <span class="input-group-text">Comment</span>
  </div>
   <textarea class="form-control" readonly th:text = "${systemDetails.getDescription()}" ></textarea>
   </div>
 
 <br>
 

       
   <hr> 
   <h3>Manage Accountability Evidence Collection Protocols For System Life Cycle Stages</h3>
   
  
  <div class="list-group-item list-group-item-action clearfix"  >
    Design
    
    <span id="design" class="loadingButton pull-right"></span>
  </div>
  <div class="list-group-item list-group-item-action clearfix"   >
    Implementation
    
    <span id="implementation" class="loadingButton pull-right"> </span>
  </div>
  <div class="list-group-item list-group-item-action clearfix"   >
    Deployment
    
     <span id="deployment" class="loadingButton pull-right"> </span>
  </div>
  <div class="list-group-item list-group-item-action clearfix"     >
    Operation
    <span id="operation" class="loadingButton pull-right">
    <a th:attr="href='workflowBuilder?mode=new&stage=operation&systemIri='+${systemDetails.getIri()}+''"  role="button" class="btn btn-primary pull-right"  > Create Plan
  </a>
  </span>
  </div>
 
 <hr>
     <h3>System Accountability Audit</h3>
  
  <p class="clearfix">  To audit the available accountability evidence about this system use the audit manager. 
   <a role="button" class="btn btn-primary pull-right" target="_blank" href="/auditManager">Open Audit Manager</a>
  </p>
</div>
</div>

<script id="script">


loadingButtons ();
let getplans = fetch("/getSavedPlanForEachStage?systemIri="+document.getElementById("systemIRI").value);
getplans.then(
		(data) => {
			return data.json();
		}).then(plans => {
		console.log(plans.length);
		let buttonsToCreate = ['design','implementation','deployment','operation'];
		for (let i = 0; i < plans.length; i++) {
			
			console.log ("Comparing:"+ plans[i].topLevelStepType);
			console.log (context.DesigStep);
			
		switch (plans[i].topLevelStepType) {
		
		case context.DesigStep:
			document.getElementById("design").innerHTML = '<a href="workflowBuilder?mode=open&stage=design&topLevelStepIri='+encodeURIComponent(btoa(plans[i].topLevelStep))+'&systemIri='+document.getElementById("systemIRI").value+'" target="_blank" role="button" class="btn btn-primary pull-right"  > Open Plan</a>';
			delete buttonsToCreate[0]; 
		break; 
		
		case context.ImplementationStep:
			document.getElementById("implementation").innerHTML = '<a href="workflowBuilder?mode=open&stage=implementation&topLevelStepIri='+encodeURIComponent(btoa(plans[i].topLevelStep))+'&systemIri='+document.getElementById("systemIRI").value+'" target="_blank" role="button" class="btn btn-primary pull-right"  > Open Plan</a>';
			delete buttonsToCreate[1]; 
		break; 
		
		case context.DeploymentStep:
			document.getElementById("deployment").innerHTML = '<a href="workflowBuilder?mode=open&stage=deployment&topLevelStepIri='+encodeURIComponent(btoa(plans[i].topLevelStep))+'&systemIri='+document.getElementById("systemIRI").value+'" target="_blank" role="button" class="btn btn-primary pull-right"  > Open Plan</a>';
			delete buttonsToCreate[2]; 
		break; 
		
		case context.OperationStep:
			document.getElementById("operation").innerHTML = '<a href="workflowBuilder?mode=open&stage=operation&topLevelStepIri='+encodeURIComponent(btoa(plans[i].topLevelStep))+'&systemIri='+document.getElementById("systemIRI").value+'" target="_blank"  role="button" class="btn btn-primary pull-right"  > Open Plan</a>';
			 
			delete buttonsToCreate[3]; 
		break; 
		}
		}
		
		for (let i = 0; i < buttonsToCreate.length; i++) {
			if (buttonsToCreate[i] != null ) {
				document.getElementById(buttonsToCreate[i]).innerHTML = '<a href="workflowBuilder?mode=new&stage='+buttonsToCreate[i]+'&systemIri='+document.getElementById("systemIRI").value+'" target="_blank" role="button" class="btn btn-primary pull-right"  > Create Plan</a>';;
			}
		}
		
		
		
		}
	).catch(
	        // Log the rejection reason
		       (reason) => {
		            console.log('Handle rejected promise ('+reason+') here.');		           
		        });

function loadingButtons () {	
		let buttonSpans = document.getElementsByClassName("loadingButton");		
		
		for (let i = 0; i < buttonSpans.length; i++) {
			buttonSpans[i].innerHTML = "Loading" ;
			}
		
function sendData () {
	
	
	
}
		
}

</script>

